@import "variables.scss";


.p-relative{
    position: relative;
}
.bg-red{
    background: $red-color;
}
.bg-gray{
    background: $gray-color;   
}
.border{
    border:1px solid #fff;
}
.border-left{
    border-left:1px solid #fff;
}
.border-right{
    border-right:1px solid #fff;
}
.border-top{
    border-top:1px solid #fff;
}
.border-bottom{
    border-bottom:1px solid #fff;
}

/* ========== /*
margin
/* ======================= */
.ma-60{
    margin:60px;
}
.mt-60{
    margin-top:60px;
}
.mr-60{
    margin-right:60px;
}
.ml-60{
    margin-left:60px;
}
.mb-60{
    margin-bottom:60px;
}

.ma-10{
    margin:10px;
}
.mt-10{
    margin-top:10px;
}
.mr-10{
    margin-right:10px;
}
.ml-10{
    margin-left:10px;
}
.mb-10{
    margin-bottom:10px;
}

/* ========== /*
end margin
/* ======================= */


/* ========== /*
padding
/* ======================= */
.pa-24{
    padding: 24px;
}
.pl-24{
    padding-left: 24px;
}
.pr-24{
    padding-right: 24px;
}
.pb-24{
    padding-bottom: 24px;
}
.pt-24{
    padding-top: 24px;
} 

.pa-48{
    padding: 48px;
}
.pl-48{
    padding-left: 48px;
}
.pr-48{
    padding-right: 48px;
}
.pb-48{
    padding-bottom: 48px;
}
.pt-48{
    padding-top: 48px;
}
/* ========== /*
end padding
/* ======================= */

/* ========== /*
font
/* ======================= */
.txt{
    &-thin{
        font-family: $font-family !important;
        font-weight: 100;
    }
    &-light{
        font-family: $font-family !important;
        font-weight: 200;
    }

    &-left{
        text-align: left;
    }
    &-right{
        text-align: right;
    }
    &-center{
        text-align: center;
    }

    &-18{
        font-size: 18px;
        line-height: 22px;
    }

    &-30{
        font-size: 30px;
    }

    &-24{
        font-size: 24px;
        line-height: 29px;
    }
}
/* ========== /*
font
/* ======================= */