.p-relative {
  position: relative; }

.bg-red {
  background: #c55e5e; }

.bg-gray {
  background: #d7d7d6; }

.border {
  border: 1px solid #fff; }

.border-left {
  border-left: 1px solid #fff; }

.border-right {
  border-right: 1px solid #fff; }

.border-top {
  border-top: 1px solid #fff; }

.border-bottom {
  border-bottom: 1px solid #fff; }

/* ========== /*
margin
/* ======================= */
.ma-60 {
  margin: 60px; }

.mt-60 {
  margin-top: 60px; }

.mr-60 {
  margin-right: 60px; }

.ml-60 {
  margin-left: 60px; }

.mb-60 {
  margin-bottom: 60px; }

.ma-10 {
  margin: 10px; }

.mt-10 {
  margin-top: 10px; }

.mr-10 {
  margin-right: 10px; }

.ml-10 {
  margin-left: 10px; }

.mb-10 {
  margin-bottom: 10px; }

/* ========== /*
end margin
/* ======================= */
/* ========== /*
padding
/* ======================= */
.pa-24 {
  padding: 24px; }

.pl-24 {
  padding-left: 24px; }

.pr-24 {
  padding-right: 24px; }

.pb-24 {
  padding-bottom: 24px; }

.pt-24 {
  padding-top: 24px; }

.pa-48 {
  padding: 48px; }

.pl-48 {
  padding-left: 48px; }

.pr-48 {
  padding-right: 48px; }

.pb-48 {
  padding-bottom: 48px; }

.pt-48 {
  padding-top: 48px; }

/* ========== /*
end padding
/* ======================= */
/* ========== /*
font
/* ======================= */
.txt-thin {
  font-family: Helvetica neue !important;
  font-weight: 100; }

.txt-light {
  font-family: Helvetica neue !important;
  font-weight: 200; }

.txt-left {
  text-align: left; }

.txt-right {
  text-align: right; }

.txt-center {
  text-align: center; }

.txt-18 {
  font-size: 18px;
  line-height: 22px; }

.txt-30 {
  font-size: 30px; }

.txt-24 {
  font-size: 24px;
  line-height: 29px; }

/* ========== /*
font
/* ======================= */
body {
  font-family: 'helvetica neue',arial; }

.main-container {
  position: relative; }

.section {
  color: #fff;
  position: relative; }
  .section.min-600 {
    min-height: 600px; }
  .section .title {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase; }
  .section .bg-section {
    position: absolute;
    top: 0;
    bottom: 0; }
    .section .bg-section.right-side {
      right: 0; }
    .section .bg-section.left-side {
      left: 0; }
  .section-1 {
    background: url(image/bg-section-1.jpg);
    height: 399px; }
    .section-1 .welcome-wording {
      padding: 107px 0 0;
      display: block;
      position: relative;
      font-family: Helvetica neue;
      font-weight: 100; }
    .section-1 .main {
      font-size: 121px; }
    .section-1 .submain {
      font-size: 48px; }
  .section-2 .right-side {
    min-height: 600px; }
  .section-2 .my-name {
    font-size: 72px;
    text-transform: uppercase;
    line-height: 52px;
    margin: -50PX 0;
    text-align: right;
    font-weight: bold; }
  .section-2 .bg-section2 {
    background: #c55e5e;
    position: absolute;
    right: 0;
    height: 600px;
    z-index: 0; }
    .section-2 .bg-section2::before {
      content: " ";
      left: -210%;
      top: 0;
      position: absolute;
      border-width: 300px;
      border-color: #c55e5e #c55e5e transparent transparent;
      border-style: solid; }
  .section-2 .bio {
    margin: 115px 0 0; }
    .section-2 .bio .about-me {
      font-size: 36px;
      text-transform: uppercase;
      font-weight: bold; }
  .section-2 .sosmed {
    margin: 45px 0 0; }
    .section-2 .sosmed img {
      max-width: 30px;
      margin-left: 13px; }
  .section-3 .study {
    position: relative; }
    .section-3 .study .dot-timeline {
      border: 2px solid #d7d7d6;
      background: #c55e5e;
      right: -68px; }
  .section-3 .work {
    position: relative; }
    .section-3 .work .dot-timeline {
      border: 2px solid #c55e5e;
      background: #d7d7d6;
      left: -68px; }
  .section-3 .dot-timeline {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 22px;
    border-radius: 8px; }
